# Operating System
.DS_Store
*.xml
*.iml
*.pyc
*.csh
*.fish
*.7
*.json
*.cfg
.DS_Store
.suo
*.6

#PyCharm
python3
python
pip3
pip
activate
easy_install

#Other files
Object_Practice/sample.txt
*.pyproj
*.sln
*.gz

Regression/.vs/HM1_Regression/v15/.suo
HM1_Regression/venv/bin/f2py
ML_Lab1/ML講義.zip
ML_Lab1/DL_LAB1_prediction_Softmax_ReLU.csv
ML_Lab1/DL_LAB1_prediction_ID.csv
ML_Lab1/Lecture 1 overview of computer vision on image classification 20180907.pptx
ML_Lab1/Lecture 2 neural network 20180908.pptx
ML_Lab1/Original file/fashion-mnist_test_data.csv
ML_Lab1/Original file/fashion-mnist_train_data.csv
ML_Lab1/Original file/fashion-mnist_train_label.csv
ML_Lab1/fashion-mnist_train_label.csv
ML_Lab1/fashion-mnist_test_data.csv
ML_Lab1/fashion-mnist_train_data.csv
ML_Lab1/ML講義/Lecture 1 overview of computer vision on image classification 20180907.pptx
ML_Lab1/ML講義/Lecture 2 neural network 20180908.pptx
